@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.main{
    width: 100vw;
    height: 100vh;
}

.page1{ 
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
}

.main-content{
    height: 73vh;
    width: 55vw;
    /* background-color: red; */
    position: absolute;
}

nav{
    display: flex;
    /* background-color: black; */
    margin-left: 5vw;
    margin-top: 4.5vw;
    height: 10vh;
    width: 44.3vw;
    justify-content: space-between;
    /* align-items: center; */
}

.logo img{
    height: 7.6vh;
    margin-left: 1vw;
    margin-top: -1vw;
}

.nav-content a{
        padding-right: 2vw;
        font-size: 1vw;
        color: black;
        margin-bottom: 1vw;
        font-family: Roboto ,serif;
        font-weight: 600;
        text-decoration: none;
        /* justify-content: space-between; */

}

#a2{
    /* height: 2vh;
    width: 1vw;
    background-color: black;
    color: white;
    border: solid 1px pink ; */
    margin-right: 4vw;
    padding: 1.5vh 2vw;
    background-color: black;
    color: white;
}

.content{
    margin-left: 6vw;
    margin-top: 2vw;
    font-family: Roboto ,serif;
}

.content h3{
    font-size: 2.5vw;
    opacity: 0.8;
    letter-spacing: 0.1vw;


}

.content p{
    font-size: 1.5vw;
    opacity: 0.5;
    font-family: Montserrat ,serif;
    margin-top: 1vh;

}

.location {
    /* font-size: 14vw; */
    /* height: 2vh; */
    /* width: 10vw; */
    margin-left: 11vw;
    margin-top: 3.5vw;
    /* padding: 2vw; */
    display: flex;
    justify-content: space-between;
    

}

.enter #txt{
    font-size: 1.1vw; 
    font-family: Montserrat, serif;
    font-weight: 600;
    height: 4vw; 
    width: 39vw; 
    padding: 0px 25px;
    margin-left: -5vw;
}

.enter{
    display: flex;
    justify-content: space-between;
}

.corner-food img{
    margin-left: 50vw;
    height: 76vh;
    width: 50vw;
}

.tracking{
    background-color: #2B1E16;
    height: 48vh;
    width: 100vw;
    margin-top: 12vw;
}

.t{
    height: 30vh;
    padding: 1vw 13vw;
}

.t-data{
    /* height: 30vh; */
    /* padding: 1vw 12vw; */
    display: flex;
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
}

.t-data h3{
    text-align: center;
    font-size: 1.1vw;
    margin-top: 1vw;
}

.t-data p{
    font-size: 0.9vw ;
    width: 18vw;
    text-align: center;
    margin-top: 1vw;

}








.page2{
    height: 100vh;
    width: 100vw;
    background-color: white;
    /* color: white; */
    display: flex;
    justify-content: space-betweens;
}

.page2 img{
    margin-top: 10vw;
    margin-left: 5vw;
    display: flex;
    justify-content: space-between;
}

#m1{
    margin-left: 45vw;
    height: 65vh;
    /* padding: 0 12vw; */
    margin-bottom: 6vw; 
}

#m2{
    height: 65vh;
    /* padding: 0 12vw; */
    margin-top: -30.3vw;
    margin-left: 68vw;
}

.page2-content{
    color: #000;
    /* display: inline; */
    margin-top: 20vw;
    margin-left: -90vw;
    padding: 0vw 8vw;
    font-size: 2vw;
    font-family: Montserrat;
}

.page2-content p{
    width: 28vw;
    font-size: 1.2vw;
    opacity: 0.6;
    margin-top: 1vw;
    font-weight: 500;
}

.page2-content h3{
    width: 20vw;
    opacity: 0.8;
    font-weight: 600;
}

.play-store{
    display: flex;
    padding: 23vw 0vw;
    margin-left: -41.5vw;

    /* font-size: 1vw; */
}

.play-store img{
    height: 7.5vh;
    width: 12vw;
    margin-right: -4vw;
}

.page-3{
    height: 116vh;
    width: 100vw;
    background-color: black;
}

.play-store-2{
    padding: 3vw 77vw;

}

.play-store-2 img{
    border: 2px solid rgb(156, 154, 154);
    border-radius: 10px;
    margin-top: 2vw;
    height: 9vh;
    width: 13vw;
}

.data{
    display: flex;
    margin-top: -14vw;
}

.d1{
    color: white;
    font-family: Montserrat;
    width: 7vw;
    margin-left: 10vw ;
    /* margin-top: -15vw; */
}

.d1 H4{
    color: rgb(111, 111, 111);
}

.d1 p{
    margin-top: 1vw;
    line-height: 2.5vw;

    
}

.d2{
    color: white;
    font-family: Montserrat;
    width: 9vw;
    margin-left: 15vw ;
    
    /* margin-top: -15vw; */
}

.d2 H4{
    color: rgb(111, 111, 111);
}

.d2 p{
    margin-top: 1vw;
    line-height: 2.5vw;
    
}

.d3{
    color: white;
    font-family: Montserrat;
    width: 11vw;
    margin-left: 15vw ;
    
    /* margin-top: -15vw; */
}

.d3 H4{
    color: rgb(111, 111, 111);
}

.d3 p{
    margin-top: 1vw;
    line-height: 2.5vw;
    
}
/* 
.d3{
    color: gray;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    
} */
